<html>
	<head>
		<link rel="stylesheet" type="text/css" href="templates/dokuwiki/index.css"/>
		<title>{PAGE_TITLE_HEAD}</title>
		{HEAD}
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				{HOME}&nbsp;{PAGE_TITLE}&nbsp;{RECENT_CHANGES}&nbsp;{EDIT}&nbsp;{HISTORY}
				<div id="search">
					{SEARCH_FORM}{SEARCH_INPUT}{SEARCH_SUBMIT}{/SEARCH_FORM}
				</div>
			</div>
			<div id="contents">
				{ERROR}
				{( plugin:VERSIONS_LIST )}
				{CONTENT_FORM}
					{plugin:TOOLBAR_TEXTAREA}&nbsp;{SYNTAX}&nbsp;{RENAME_TEXT}{RENAME_INPUT}
					{CONTENT_TEXTAREA}
					{CONTENT_SUBMIT}{CONTENT_PREVIEW}{EDIT_SUMMARY_TEXT}{EDIT_SUMMARY_INPUT}	
					{FORM_PASSWORD}{FORM_PASSWORD_INPUT}
					<!--
					{  plugin:CAPTCHA_QUESTION}{  plugin:CAPTCHA_INPUT}
					-->
					{plugin:RESIZE_TEXTAREA}
				{/CONTENT_FORM}
				{CONTENT}
				{plugin:TAG_LIST}
				{plugin:COMMENTS}
			</div>
		</div>
	</body>
</html>
